
.venv/
.env


__pycache__/
*.py[cod]
*.egg-info/
build/
dist/


data_pipeline/data/processed/*.json


data_pipeline/data/eval/results*


.pytest_cache/
.ruff_cache/
.mypy_cache/


.idea/
.vscode/


!data_pipeline/data/processed/.gitkeep
